<!DOCTYPE html>
<html lang="zxx">
<head>
	<title>Ebuy</title>
	<meta charset="UTF-8">
	<meta name="description" content="">
	<meta name="keywords" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<!-- Google font -->
	<link href="https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,500,500i,600,600i,700,700i&display=swap" rel="stylesheet">
 
	{# <!-- Stylesheets -->
	<link rel="stylesheet" href="{{asset('css/bootstrap.min.css')}}"/>
	<!-- Main Stylesheets -->
	<link rel="stylesheet" href="{{asset('css/style.css')}}"/> #}

	<link rel="stylesheet" href="{{asset('css/bootstrap.min.css')}}"/>
	<link rel="stylesheet" href="{{asset('css/font-awesome.min.css')}}"/>
	<link rel="stylesheet" href="{{asset('css/slicknav.min.css')}}"/>

	<!-- Main Stylesheets -->
	<link rel="stylesheet" href="{{asset('css/style.css')}}"/>

</head>
<body>

	<!-- Header section -->
	<header class="header-section clearfix">
		<a href="index.html" class="site-logo">
			<img src="{{asset('img/logo2.png')}}" height="70px" alt="">
		</a>
		<div class="header-right">
			<div class="user-panel">
			
			{% if not is_granted('IS_AUTHENTICATED_FULLY') %}
				<a href="{{path('app_login')}}" class="login">Login</a>
				<a href="{{path('register')}}" class="register">Register</a>
			{% endif %}
			{% if is_granted('IS_AUTHENTICATED_FULLY') %}
				{# <a href="{{path('app_logout')}}" class="login">Logout</a> #}
			{% endif %}
			</div> 
		</div>
		<ul class="main-menu">
			<li><a href="{{path('home')}}">Home</a></li>

			<li><a href="{{path('contact')}}">Contact Us!</a></li>

			{% if is_granted('IS_AUTHENTICATED_FULLY') %}

			<li><a href="#">Profile</a>
				<ul class="sub-menu">
					<li><a href="">Produts</a></li>
					<li><a href="">Sell</a></li>
					<li><a href="{{path('app_logout')}}">Logout</a></li>
				</ul>
			</li>
			{% endif %}
		</ul>
	</header>
	<!-- Header section end -->
	{% include 'flash_messages.html.twig' %}
    {% block body %} {% endblock %}

	
	
	
	<!--====== Javascripts & Jquery ======-->
	<script src="{{asset('js/jquery-3.2.1.min.js')}}"></script>
	<script src="{{asset('js/bootstrap.min.js')}}"></script>
	<script src="{{asset('js/jquery.slicknav.min.js')}}"></script>
	<script src="{{asset('js/main.js')}}"></script>

	</body>
</html>