<!DOCTYPE html>
<html lang="zxx">
<head>
	<title>Ebuy</title>
	<meta charset="UTF-8">
	<meta name="description" content="">
	<meta name="keywords" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<!-- Google font -->
	<link href="https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,500,500i,600,600i,700,700i&display=swap" rel="stylesheet">
 
	{# <!-- Stylesheets -->
	<link rel="stylesheet" href="{{asset('css/bootstrap.min.css')}}"/>
	<!-- Main Stylesheets -->
	<link rel="stylesheet" href="{{asset('css/style.css')}}"/> #}

	<link rel="stylesheet" href="{{asset('css/bootstrap.min.css')}}"/>
	<link rel="stylesheet" href="{{asset('css/font-awesome.min.css')}}"/>
	<link rel="stylesheet" href="{{asset('css/slicknav.min.css')}}"/>

	<!-- Main Stylesheets -->
	<link rel="stylesheet" href="{{asset('css/style.css')}}"/>

</head>
<body>

		{% include 'header.html.twig' %}

		{% include 'flash_messages.html.twig' %}

		{% block body %}{% endblock %}

<<<<<<< HEAD
			<li><a href="#">Profile</a>
				<ul class="sub-menu">
					<li><a href="">Products</a></li>
					<li><a href="{{path('order')}}">Order</a></li>
				</ul>
				<li><a href="{{path('app_logout')}}">Logout</a></li>
			</li>
			{% endif %}
		</ul>
	</header>
	<!-- Header section end -->
	{% include 'flash_messages.html.twig' %}
    {% block body %} {% endblock %}
=======
		{% include'footer.html.twig' %}
>>>>>>> 5e52e468d03172c57bb64f2c19ca8c3adf74cdc7

	<!--====== Javascripts & Jquery ======-->
	<script src="{{asset('js/jquery-3.2.1.min.js')}}"></script>
	<script src="{{asset('js/bootstrap.min.js')}}"></script>
	<script src="{{asset('js/jquery.slicknav.min.js')}}"></script>
	<script src="{{asset('js/main.js')}}"></script>

	</body>
</html>