{% extends 'base.html.twig' %}

{% block title %}Hello OrderController!{% endblock %}

{% block body %}
	{% set total = 0 %}

	<br>
	<div class="container">
		<h2>Your Orders</h2>
		<br>

		<table class="table table-striped">
			<thead>
				<tr>
					<td>Product Nr.</td>
					<td>Name</td>
					<td>Price</td>
					<td>Quantity</td>
					<td></td>
				</tr>
			</thead>

			<tbody>
				{% for products in product %}
					{% set total = total+(products.quantity * products.price) %}
					<tr>
						<td>{{products.id}}</td>
						<td>{{products.name}}</td>
						<td>{{products.price}}</td>
						<td>{{products.quantity}}</td>	
					</tr>
				{% endfor %}
				<td>Total: </td>
				<td>{{total}}
					EUR</td>
				
			</tbody>
		</table>
	</div>
{% endblock %}
